<ion-header>
    <ion-toolbar>
        <ion-title>Documents</ion-title>
        <ion-buttons icon-left (click)="goBack()">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <label>Back</label>            
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    
    <ion-card style="padding: 1rem; margin: 1.5rem;" *ngFor="let key of keys">
        <h2 style="display: flex; flex-wrap: wrap; justify-content: left; margin-top: 1rem; margin-bottom: 1rem; padding-bottom: 1.5rem; padding-left: 1rem; border-bottom: #f4f4f4 dashed 0.25rem; color: #000 !important;"><b>{{ key }}</b></h2>
        <ion-list style="padding-left: 1rem; padding-bottom: 1rem;">
            <a ion-item text-wrap *ngFor="let document of documents[key]" (click)="openDoc(document)">
                <ion-icon name="document" style="color: black; font-size: 1rem;" ></ion-icon> <b style="font-size: 1rem;">{{ document.name }}</b>
                <br>
                <br>
            </a> 
        </ion-list>
    </ion-card>


</ion-content>

<ion-toolbar style="margin-bottom: 1em;">
  <ion-tabs style="height: max-content;">
      <ion-tab-bar>
        <ion-tab-button (click)="goToDaysPage()">
          <ion-icon style="font-size: 25px;" name="calendar"></ion-icon>
          <ion-label>Schedule</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="goToDocumentsPage()">
          <ion-icon style="font-size: 25px;" name="copy"></ion-icon>
          <ion-label>Documents</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="goToContactsPage()">
          <ion-icon style="font-size: 25px;" name="people-circle-outline"></ion-icon>
          <ion-label>Contacts</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>          
</ion-toolbar>


