<ion-header>
    <ion-toolbar>
        <ion-title>Documents</ion-title>
        <ion-buttons icon-left (click)="goBack()">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <label>Back</label>            
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    
    <ion-card *ngFor="let key of keys">
        <h2 style="padding-left: 1rem; padding-bottom: 1rem; justify-content: left;"><b>{{ key }}</b></h2>
        <ion-list>
            <a ion-item style="padding-left: 1rem; justify-content: left;" text-wrap *ngFor="let document of documents[key]" (click)="openDoc(document)">
                <ion-icon name="document" ></ion-icon> {{ document.name }}
                <br>
            </a> 
        </ion-list>
    </ion-card>


</ion-content>

<ion-toolbar style="margin-bottom: 1em;">
  <ion-tabs style="height: max-content;">
      <ion-tab-bar>
        <ion-tab-button (click)="goToDaysPage()">
          <ion-icon style="font-size: 25px;" name="calendar"></ion-icon>
          <ion-label>Schedule</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="goToDocumentsPage()">
          <ion-icon style="font-size: 25px;" name="copy"></ion-icon>
          <ion-label>Documents</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="goToContactsPage()">
          <ion-icon style="font-size: 25px;" name="people-circle-outline"></ion-icon>
          <ion-label>Contacts</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>          
</ion-toolbar>


