<ion-header>
    <ion-toolbar>
        <ion-title *ngIf="event">{{ event.title }}</ion-title>
        <ion-buttons icon-left (click)="goBack()">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <label>Back</label>            
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="event">
        <ion-card class="event-details">
            <ion-card-header>
                <h2><ion-icon name="time-outline"></ion-icon> {{ event.time_from }}<span *ngIf="event.time_to"> - {{ event.time_to }}</span></h2>
            </ion-card-header>
            <ion-card-content>
                <h1><b>{{ event.title }}</b></h1>
                <p margin-top margin-bottom><ion-icon name="location-outline"></ion-icon> {{ event.location_name }}
                    <span *ngIf="event.location_address">, {{ event.location_address }}</span>
                    <span *ngIf="event.location_postal">, {{ event.location_postal }}</span>
                </p>

                <div class="body" *ngIf="event.description_html" [innerHTML]="event.description_html"></div>

                <div *ngIf="event.participants">
                    <ul class="participants">
                        <li *ngFor="let person of event.participants">
                            {{ person.name }}
                        </li>
                    </ul>
                </div>

                <div class="body" [innerHTML]="event.body_html"></div>

            </ion-card-content>
        </ion-card>

        <ion-card *ngIf="event.documents.length" class="body">
            <ion-card-header>
                <h2 class="card-title">Documents</h2>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <a ion-item text-wrap *ngFor="let document of event.documents" (click)="openDoc(document)">
                        <ion-icon name="document-outline"></ion-icon> {{ document.name }}
                    </a>
                </ion-list>
            </ion-card-content>
        </ion-card>

        <ion-card *ngIf="event.participants.length">
            <ion-card-header>
                <h2 class="card-title">Participants</h2>
            </ion-card-header>
            <ion-card-content>
                <a ion-item text-wrap *ngFor="let person of event.participants" (click)="showContacts(person.id)">
                    <ion-avatar item-start *ngIf="person.image;else elseBlock">
                        <img src="{{ globals.dataDirectory }}data/assets/{{ person.image }}">
                    </ion-avatar>
                    <ng-template #elseBlock>
                        <ion-icon name="person-circle-outline" item-start></ion-icon>
                    </ng-template>

                    <h4 class="contact-name">{{ person.name }}</h4>
                    <p margin-bottom><strong>{{ person.title }}</strong></p>
                    <p class="contact-information" *ngIf="person.telephone != null"><ion-icon name="call-outline"></ion-icon> {{ person.telephone }}</p>
                </a>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>

<ion-toolbar style="margin-bottom: 1em;">
    <ion-tabs style="height: max-content;">
        <ion-tab-bar>
          <ion-tab-button (click)="goToDaysPage()">
            <ion-icon style="font-size: 25px;" name="calendar"></ion-icon>
            <ion-label>Schedule</ion-label>
          </ion-tab-button>
          <ion-tab-button (click)="goToDocumentsPage()">
            <ion-icon style="font-size: 25px;" name="copy"></ion-icon>
            <ion-label>Documents</ion-label>
          </ion-tab-button>
          <ion-tab-button (click)="goToContactsPage()">
            <ion-icon style="font-size: 25px;" name="people-circle-outline"></ion-icon>
            <ion-label>Contacts</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>          
</ion-toolbar>

