<ion-header>
    <ion-toolbar>
        <ion-title *ngIf="contact">{{ contact.name }}</ion-title>
        <ion-buttons icon-left (click)="goBack()">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <label>Back</label>            
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content >
    <ion-card style="padding: 0.5rem; margin-bottom: 1rem;" *ngIf="contact">
        <div style="display: flex; align-items: center;">
            <div *ngIf="contact.image" >
                <img style="max-height: 15rem; width: auto;" src="{{ imagePath }}">
            </div>
            <div style="margin-left: 2rem;">
                <h1><b>{{ contact.name }}</b></h1>
                <p><strong>{{ contact.title }}</strong></p>
            </div>
        </div>
        
        <ion-card style="padding: 0.5rem; margin-bottom: 1rem; box-shadow: none !important;">
            <div style="margin-left: 2rem;">
                <p *ngIf="contact.telephone"><ion-icon name="call-outline"></ion-icon> {{ contact.telephone }}</p>
                <p *ngIf="contact.email"><ion-icon name="mail-outline"></ion-icon> {{ contact.email }}</p>
            </div>

            <div class="body" [innerHTML]="contact.body_html"></div>
        </ion-card>
    </ion-card>
</ion-content>

<ion-toolbar style="margin-bottom: 0.5rem;">
    <ion-tabs style="height: max-content;">
        <ion-tab-bar>
          <ion-tab-button (click)="goToDaysPage()">
            <ion-icon style="font-size: 25px;" name="calendar"></ion-icon>
            <ion-label>Schedule</ion-label>
          </ion-tab-button>
          <ion-tab-button (click)="goToDocumentsPage()">
            <ion-icon style="font-size: 25px;" name="copy"></ion-icon>
            <ion-label>Documents</ion-label>
          </ion-tab-button>
          <ion-tab-button (click)="goToContactsPage()">
            <ion-icon style="font-size: 25px;" name="people-circle-outline"></ion-icon>
            <ion-label>Contacts</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>          
</ion-toolbar>
