<ion-header>
    <ion-toolbar>
        <ion-title>Contacts</ion-title>
        <ion-buttons icon-left (click)="goBack()">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <label>Back</label>            
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content padding>
   <ion-card *ngFor="let contact of contacts" (click)="goToContactPage(contact.id)">
        <ion-item>
            <ion-avatar item-start *ngIf="contact.image;else elseBlock">
                <img src="{{ globals.dataDirectory }}data/assets/{{ contact.image }}">
            </ion-avatar>
            <ng-template #elseBlock>
                <ion-icon name="contact" item-start></ion-icon>
            </ng-template>
            <span class="card-title">{{ contact.name }}</span>
            <p class="contact-title">{{ contact.title }}</p>
            <p class="contact-information" *ngIf="contact.telephone != null"><ion-icon name="ios-call-outline"></ion-icon> {{ contact.telephone }}</p>
        </ion-item>
    </ion-card>
   
</ion-content>

<ion-toolbar style="margin-bottom: 1em;">
  <ion-tabs style="height: max-content;">
      <ion-tab-bar>
        <ion-tab-button (click)="goToDaysPage()">
          <ion-icon style="font-size: 25px;" name="calendar"></ion-icon>
          <ion-label>Schedule</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="goToDocumentsPage()">
          <ion-icon style="font-size: 25px;" name="copy"></ion-icon>
          <ion-label>Documents</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="goToContactsPage()">
          <ion-icon style="font-size: 25px;" name="people-circle-outline"></ion-icon>
          <ion-label>Contacts</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>          
</ion-toolbar>

