<ion-header>
    <ion-toolbar>
        <ion-title>Contacts</ion-title>
        <ion-buttons icon-left (click)="goBack()">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <label>Back</label>            
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content padding>
   <ion-card style="padding: 0.5rem; margin-bottom: 1rem;" *ngFor="let contact of contacts" (click)="goToContactPage(contact.id)">
        <ion-item>
            <ion-avatar item-start *ngIf="contact.image;else elseBlock">
                <img src="imagePath + contact.image">
            </ion-avatar>
            <ng-template #elseBlock>
                <ion-icon name="person-circle-outline" item-start></ion-icon>
            </ng-template>
            <div>
            <span style="font-size: 1.4rem; font-weight: 700; display: flex; flex-wrap: wrap; margin-top: 0.5rem; margin-bottom: 0.5rem; padding-left: 0.5rem;">{{ contact.name }}</span>
            <p style="margin-bottom: 0.5rem; overflow: inherit; font-size: 1rem; line-height: normal; color: #666; white-space: pre-line !important; padding-left: 0.5rem;">{{ contact.title }}</p>
            <p style="margin-bottom: 0.5rem; overflow: inherit; font-size: 1rem; line-height: normal; color: #666; white-space: pre-line !important; padding-left: 0.5rem;" *ngIf="contact.telephone != null"><ion-icon name="call-outline"></ion-icon> {{ contact.telephone }} </p>
            </div>
        </ion-item>
    </ion-card>
   
</ion-content>

<ion-toolbar style="margin-bottom: 0.5rem;">
  <ion-tabs style="height: max-content;">
      <ion-tab-bar>
        <ion-tab-button (click)="goToDaysPage()">
          <ion-icon style="font-size: 25px;" name="calendar"></ion-icon>
          <ion-label>Schedule</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="goToDocumentsPage()">
          <ion-icon style="font-size: 25px;" name="copy"></ion-icon>
          <ion-label>Documents</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="goToContactsPage()">
          <ion-icon style="font-size: 25px;" name="people-circle-outline"></ion-icon>
          <ion-label>Contacts</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>          
</ion-toolbar>

