<ion-header>
    <ion-toolbar>
        <ion-title *ngIf="day">{{ day.name }}</ion-title>
        <ion-buttons icon-left (click)="goBack()">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <label>Back</label>            
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div *ngIf="day">
        <ion-card style="padding: 2rem; margin-bottom: 1.5rem;" *ngIf="!day.events.length">
            No itinerary specified
        </ion-card>

        <ion-card style="padding: 2rem; margin-bottom: 1.5rem;" *ngFor="let event of day.events" (click)="setEvent(event.id)">
            <ion-grid no-padding>
                <ion-row>
                <ion-col style="size: 12; text-align: left;"><ion-icon name="time-outline"></ion-icon> {{ event.time_from }}<span *ngIf="event.time_to"> - {{ event.time_to }}</span></ion-col>
                <ion-col style="size: 12; text-align: right;"><ion-icon name="location-outline"></ion-icon> {{ event.location_name }}</ion-col>
                </ion-row>
            </ion-grid>
            <h1 style="margin-top: 1rem; margin-bottom: 1rem;"><b>{{ event.title }}</b></h1>
            <div style="white-space: pre-line;" [innerHTML]="event.description_html"></div>
        </ion-card>
    </div>

</ion-content>

<ion-toolbar style="margin-bottom: 1em;">
  <ion-tabs style="height: max-content;">
      <ion-tab-bar>
        <ion-tab-button (click)="goToDaysPage()">
          <ion-icon style="font-size: 25px;" name="calendar"></ion-icon>
          <ion-label>Schedule</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="goToDocumentsPage()">
          <ion-icon style="font-size: 25px;" name="copy"></ion-icon>
          <ion-label>Documents</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="goToContactsPage()">
          <ion-icon style="font-size: 25px;" name="people-circle-outline"></ion-icon>
          <ion-label>Contacts</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>          
</ion-toolbar>


