<ion-header>
    <ion-toolbar>
        <ion-title>Schedule</ion-title>
        <ion-buttons slot="end" (click)="goToSyncPage()">
            <ion-icon name="refresh"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="width: 100%;" *ngIf="trip">
        <ion-card class="myCard">
          <img src="../../../assets/images/shaw-centre-at-night.png"/>
          <div class="myOverlay">
             <div class="card-title">{{ trip.name }}</div>
          </div>
        </ion-card>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card class="days-cards" *ngFor="let day of days" tappable (click)="goToDayPage(day.id)">
                    <div style="justify-content: center; margin-left: 35%;"><h1><b>{{ day.name }}</b></h1></div>
                    <div style="float: right;"><ion-icon name="ios-calendar-outline"></ion-icon> {{ day.date }}</div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    
</ion-content>

<ion-toolbar style="margin-bottom: 1em;">
    <ion-tabs style="height: max-content;">
        <ion-tab-bar>
          <ion-tab-button>
            <ion-icon style="font-size: 25px;" name="calendar"></ion-icon>
            <ion-label>Schedule</ion-label>
          </ion-tab-button>
          <ion-tab-button (click)="goToDocumentsPage()">
            <ion-icon style="font-size: 25px;" name="copy"></ion-icon>
            <ion-label>Documents</ion-label>
          </ion-tab-button>
          <ion-tab-button (click)="goToContactsPage()">
            <ion-icon style="font-size: 25px;" name="people-circle-outline"></ion-icon>
            <ion-label>Contacts</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>          
</ion-toolbar>

