page-days {

  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }

  section:not(.full-width),
    .full-width > header {
      padding: 0 10px;
    }

    .bottom-tabs {
      position: fixed;
      left: 0;
      bottom: 10px;
      right: 0;
      margin-bottom: 10px;
  }

  img{
    width:100%;
    height:100%;
  }  

  .myCard{
    position:relative;
  
  }
  
  .myOverlay{
      width: 100%;
      height: 60px;
      position: absolute;
      z-index: 99;
      bottom: 0px;
      opacity: 0.5;
      background: #000;
      color: #fff;
  
  }
  

  .page-container {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%), url(../../../assets/images/meeting-bk.png) center center no-repeat;
    background-size: cover;
  }

  .header-image {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%), url(../../../assets/images/shaw-centre-at-night.png) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 25rem;
    display: table;

    .header-text {
      width: 80%;
      color: #FFFFFF;
      font-size: 5rem;
      font-weight: 300;
      text-align: center;
      padding: 0rem;
      display: table-cell;
      vertical-align: middle;

    }

    .alt-text {
      width: 80%;
      display: table-cell;

    }

  }

  .days-cards {
    .card-title {
      font-size: 3rem;
      display: flex;
      text-align: center;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: #f4f4f4 dashed 0.25rem;
    }
    .card-footer {
      display: block;
      text-align: center;
      float: right;
    }
  }


  .card {
    padding: 2rem;
    margin-bottom: 1.5rem;
  }

  .days-container {
    margin: 5rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .day-container {
      height: 25rem;
      width: 25rem;
      margin: 2rem;
      background: rgba(#ddd, 0.85);
      border: #555 8px solid;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
      color:#FFF;
      overflow: hidden;
      text-decoration: none;
      display: flex;
      align-items: center;
      .inner-container {
        width: 100%;
      }
      .day {
        display: block;
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        margin: 1rem;
        border-bottom: #BBB dashed 5px;
        text-shadow: 0px 0px 10px #555;
      }

      .date {
        font-weight: 500;
        font-size: 1.35rem;
        display: block;
        text-align: center;
        text-shadow: 0px 0px 10px #555;
      }
    }
  }
}
